.photo {
border: 1px solid #505050;
border-radius: 50%;
}
body {
    background: #f7f7f7;
}

#title, .subtitle, .post_title {
    color:#505050;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
    border-radius: 5px;
}
.post {
    background: #fff;
    padding: 15px 10px 5px 0;
    border: 3px solid black;
    margin: 10px;
}
.post_content {
    margin:0;
    margin-bottom: 15px;
}